@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    font-family: "Manrope", sans-serif;
    background-color: #ffffff;
}

header{
    background-color: #000000;
}

.arrow-svg{
    padding: 30px 135px;
    padding-bottom: 40px;
}

.photo-container-graduates{
    position: relative;
    width: 440px;
    height: 512px;
    margin-left: 180px;
    margin-top: 5px;
    transform: scale(0.86);
    transform-origin: center;
}
.background-img{
    position: absolute;
    top: -34px;
    left: -24px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.photo{
    position: relative;
    z-index: 2;
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    margin-top: -4px;
}

.profile-container{
    display: flex;
    margin-bottom: -70px;
}
.info-container{
    margin-top: 70px;
    margin-left: 20px;
    color: #000000;
}
.tag-graduates{
    background: linear-gradient(180deg, #7d61f2 0%, #b949cb 100%);
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 13px;
    font-size: 16px;
    margin-top: 18px;
    min-height: 40px;
    display: inline-flex;
    align-items: center;
}
.about-graduates{
    background: linear-gradient(180deg, #7d61f2 0%, #b949cb 100%);
    padding: 15px;
    border-radius: 15px;
    position: relative;
    margin-top: 18px;
    width: 100%;
    min-height: 90px;
    color: #ffffff;
}

.line-graduates{
    width: 24%;
    height: 2px;
    margin-top: 70px;
    margin-bottom: -20px;
    margin-left: 137px;
    background-color: #C0B0FF;
}
.line-graduates-right{
    position: absolute;
    right: 0;
    width: 24%;
    height: 2px;
    margin-top: 70px;
    margin-bottom: -10px;
    margin-right: 137px;
    background-color: #C0B0FF;
}
.plug{
    height: 44px;
}

.header-text-block{
    max-width: 1920px;
    height: 80px;
    padding: 0 135px;
}
.header-text-notGradient{
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    word-wrap: break-word;
    margin-right: 8px;
}
.header-text-gradient{
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #ff00e5 0%, #7d61f2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-box-graduates{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-left: 134px;
    margin-right: 180px;
}
/* Блок с текстом */
.info-text{
    flex: 1;
}
.small-text-box-graduates{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    max-width: 70%;
}
.icon-graduates{
    flex-shrink: 0;
}
.image-right{
    max-width: 360px;
    height: auto;
}
.image-right-2{
    max-width: 320px;
    height: auto;

}

.about-box-right-graduates{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 135px;
    margin-bottom: 150px;
}
.image-left{
    width: 305px;
    height: auto;
    margin-left: 220px;
}
.text-content-right-graduates{
    max-width: 60%;
    text-align: right;
}
.small-text-box-right-graduates{
    font-size: 32px;
    font-weight: 500;
    margin-top: 30px;
    text-align: left;
    max-width: 60%;
    margin-left: 330px;
}
.button-more-graduates{
    display: inline-block;
    text-align: center;
    background-color: #A0A5D6;
    border: none;
    border-radius: 18px 18px 0 18px;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 22px;
    width: 240px;
    height: 50px;
    margin-top: 30px;
}
.button-more-graduates:hover{
    background-color: #c0c8f0;
}

.top-indent{
    padding-top: 180px;
}

.up-arrow{
    margin-top: 300px;
    transform: scale(0.8);
    float: right;
    margin-right: 70px;
    margin-bottom: 50px;
}


